:root{
    --header-height: 10vh;
}

body{
    margin: 0;
    font-size: 20px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.sidebar{
    display: grid;
    background: #7c3aed;
    grid-template-columns: 1fr 3fr;
}

header{
    grid-column: 1/-1;
}

.top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "search user";
    border-bottom: 2px black solid;
    height: vh;
}

.fp{
    grid-area: fp;
    height: 40vh;
}

.user{
    display: block;
    grid-area: user;
}

.user>div{
    display: inline-block;
    margin: 5px;
}

#search {
    grid-area: search;
}

#page {
    display:grid;
    grid-template-columns: repeat(auto-fit, clamp(300px, 25%, 600px));
    grid-auto-rows: clamp(170px, 20vh, 336px);
}

.article{
    border: 1px black solid;
    display:flex;
    flex: 1;
}

/* footer{
    grid-column: 1/-1;
    text-align: center;
} */