:root{
background-color: blueviolet;
}

header{
    font-size: clamp(1.5rem, 10vh, 2rem);
    background-color: rgb(16, 5, 54);
    color: white;
}

body{
    margin: 0;
    font-size: 20px;
}

.main{
    display: grid;
    grid-template-areas: "top"
    "fp";
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 30px 40vh;
}

#follow{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header{
    grid-column: 1/-1;
}

.top {
    display: grid;
    grid-area: top;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "search user";
    border-bottom: 2px black solid;
}

.fp{
    display: flex;
    grid-area: fp;
    height: 40vh;
    justify-content: center;
    align-content: center;
    border-bottom: 2px black solid;
}

.user{
    display: block;
    grid-area: user;
}

.user>div{
    display: inline-block;
    margin: 5px;
}

#search {
    grid-area: search;
}

.streams{
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(300px, 20%, 1020px));
    grid-auto-rows: clamp(170px, 20vh, 600px);;
    border: 1px black solid;
    border-top: none;
}

.streams>div{
    border: 1px black solid;

}